.login {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_content{
    margin:50px;
}
.login form {
    border:1px solid rgba(255, 192, 0);
    width: 500px;
    height: 500px;
}
.login h1,
.login h3,
.login button{
    margin:30px;
}
.login a,
.login input {
    margin:20px;
}
.login h3 {
    color:rgba(255, 192, 0);
}
.login input {
    width: 400px;
    height: 30px;
}
.login button {
    width: 400px;
    height: 60px;
    font-size: 23px;
    background-color: rgba(255, 192, 0);
    border-radius: 10px;
    border:none;
    color:white;
    font-weight: bold;
}